on:
  workflow_call:
    inputs:
      module-name:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build with maven
        run: |
          mvn --batch-mode --no-transfer-progress \
            --projects .,xchange-core,${{ inputs.module-name }} \
            --also-make \
            -DskipTests \
            -Dmaven.javadoc.skip \
            -DskipIntegrationTests=false \
            verify
