name: Maven Verify on Pull Request

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: ${{ github.event_name == 'push' }}

jobs:
  verify:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '25'
        cache: maven
    - name: Build with Maven
      run: mvn --batch-mode --no-transfer-progress -Dmaven.javadoc.skip=true -Dfmt.skip=true clean verify
