on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    name: Run integration tests
    uses: ./.github/workflows/it-template.yaml
    with:
      module-name: xchange-stream-coinbase
